.zz{
    max-height: 35px;
    margin-top: 3rem;
    margin-left: 3rem;
    
}
.xx{
    margin-top: -2rem;
    margin-left: 6rem;
    font-size: large;
    color: #fff;
}
.cc{
    MARGIN-LEFT: 8rem;
    margin-top: 2.7rem;
    color: #fff;
    background-color: #0d47a1;
    border: none;
}
.pp{
    max-height: 37px;
    margin-top: 2.9rem;
    margin-left: 16rem;
    background-color: #fff;
}
.ooq{
    margin-top: -2rem;
    margin-left:19rem;
    font-size: 1.4rem;
    color: #fff;
}

